*{
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  box-sizing: border-box;
}



header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(8, 116, 239);
  padding: 5px;

}


header a{
  padding: 10px;
  text-decoration: none;
  color: white;
}



h1{
  padding: 10px;
  text-align: center;
 
}

.paragrafo_1{
  padding: 10px;
  text-align: center;
 
}

.imagem_1{
padding: 20px;
 display: inline-block;
 
}

.imagem_2{
  padding: 20px;
 display: inline-block;
 border-radius: 15px;
}

.parag{
  padding: 20px;
}




footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(8, 116, 239);
position: inherit;
padding: 20px;
}

footer a {
  text-decoration: none;
  color: white;
padding: 10px;
  
}

.container_button{
  display: flex;
  background-color: rgb(8, 116, 239);
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: auto;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.button{
  margin: 10px;
  text-align: center;
  text-decoration: none;
 
  color: white;
}